* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**************************************************/
/* SCREEN */


.screen {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 1%;
    height: 10rem;
    width: 70%;
    margin-left: 5rem;
    margin-top: 30px;
    box-shadow: inset 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
}

.screen h1 {
    font-size: medium;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.screen .timer-bar {
    width: 80%;
    height: 30%;
    margin-left: 1%;
    border: solid 1px black;
    background: white;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0px grey;
}

.screen .screen-score {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: row;
}


@media screen and (width < 480px) {

    .screen h1 {
        font-size: small;
    }

    .screen-score {
        font-size: small;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .container-timer {
        display: block;
    }

    .screen {
        position: relative;
    }

    .screen .timer-bar {
        width: 95%;
        height: 10px;
        ;
    }
}


/*********************************************/
/*Header*/

/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    border-bottom: solid #C4C4C4 0.2px;

}

@media screen and (min-width : 480px) {
    .header {
        min-width: 475px;
    }
}




.title {
    text-align: center;
    font-size: 40px;
    width: 90%;
    padding-right: 0;
    font-family: 'Rampart One', cursive;

}


@media screen and (min-width : 480px) {
    .title {
        font-size: 45px;
    }
}

.img-tour {
    text-align: center;
    height: 90px;
    width: 90px;
    margin-right: 60px;

}


.logo-desktop {
    height: 90px;
    width: 90px;
    max-width: 20%;
    visibility: hidden;

}

@media screen and (min-width : 480px) {
    .logo-desktop {
        visibility: visible;
    }
}

.logo-mobile {
    height: 90px;
    width: 90px;

    filter: opacity(20%);
    margin-top: 2px;
    margin-left: 360px;
    visibility: visible;
}


@media screen and (min-width : 480px) {

    .logo-mobile {
        visibility: hidden;

    }
}


body {
    margin: 0;
    line-height: 1.5;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, white, #af654e);
    background-size: 200% 200%;
    background-repeat: repeat;

} */

/***************************************/
/*Principale*/
.console {

    margin-top: 5vh;
    margin-right: auto;
    height: 125vh;
    width: 100%;
    border-radius: 15px;
    box-shadow: inset -8px -8px 20px rgba(68, 65, 65, 0.659), 8px 8px 20px rgba(68, 65, 65, 0.659);
    background-image: url("assets/wood-plank.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: 300%;

}

@media screen and (min-width : 480px) {
    .console {
        margin-left: 15vw;
        margin-top: 12vh;
        height: 60vh;
        width: 70vw;
        border-radius: 15px;
        box-shadow: inset -8px -8px 20px rgba(68, 65, 65, 0.659), 8px 8px 20px rgba(68, 65, 65, 0.659);
        background-image: url("assets/wood-plank.jpg");
        background-repeat: repeat;
        background-position: center;
        background-size: 100%;
    }

}


/* .button {
    display: inline-block;
    height: 0;
    width: 0;
    margin-top: 72vh;
    margin-left: 82vw;
    border-top: 26px solid transparent;
    border-bottom: 29px solid transparent;
    border-left: 50px solid rgb(132, 126, 126, 0.439);

} */



/* @media screen and (min-width : 480px) {
    .button {
        display: inline-block;
        height: 5px;
        width: 5px;
        margin-top: 46vh;
        margin-left: 62vw;
        border-top: 26px solid transparent;
        border-bottom: 29px solid transparent;
        border-left: 50px solid rgba(132, 126, 126, 0.439);
    }
} */

/* @media screen and (min-width : 860px) {
    .button {
        margin-left: 63vw;

    }
}

@media screen and (max-width : 690px) {
    .button {
        margin-left: 60vw;

    }
}

.next {
    position: absolute;



} */