:root {
  --bachground-color-primary: ;
  --font-family-pricipal: ;
  --font-family-title: ;
  --font-family-console-ecran: ;
  --font-family-console-buttons: ;
  --color-secondary: ;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  height: 100%;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(175, 101, 78, 0.53) 73.44%,
    rgba(194, 127, 107, 0) 100%
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*********************************************/
/*Header*/

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 10vh;
  border-bottom: solid #c4c4c4 0.2px;
}

.title {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  font-family: "Rampart One", cursive;
}

.interro {
  filter: opacity(20%);
}

.logo-desktop {
  height: 100px;
  width: 100px;
  visibility: hidden;
  display: none;
}

.logo-mobile {
  position: absolute;
  height: 45px;
  width: 58px;
  top: 12vh;
  right: 8vw;
  visibility: visible;
}

/***************************************/
/*Principale*/
.console {
  margin-top: 0.5rem;
  height: 83vh;
  width: 100%;
  border-radius: 40px;
  box-shadow: inset -20px -20px 20px rgba(68, 65, 65, 0.659),
    8px 8px 20px rgba(68, 65, 65, 0.659);
  background-image: url("assets/wood-plank.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: 300%;
}

/*? ***************** Frederico Section*************************  */
/*******************************************/
/************* Start Button *************/

.start-button-container {
  font-family: "Roboto", sans-serif;
  font: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 8rem;
  padding-top: 1rem;
}

.start-button-lable {
  color: #918080;
  margin-left: 1.2rem;
}

.start-button-title {
  font-size: 1rem;
  color: #918080;
  margin-left: 0.5rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2.2rem;
  height: 1rem;
  margin-left: 0.8rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(173, 163, 163, 0.5);
  box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.9rem;
  width: 0.9rem;
  left: 1px;
  right: 1px;
  bottom: 1px;
  top: 1px;
  background-color: black;
  border-radius: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: rgba(173, 163, 163, 0.5);
  box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.25);
}

input:focus + .slider {
  background: rgba(173, 163, 163, 0.5);
  box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.25);
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/**************************************************/
/* SCREEN */
.game-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 70%;
}

.screen {
  background-color: white;
  border-radius: 15px;
  height: 9rem;
  width: 80%;
  padding-bottom: 7%;
  box-shadow: inset 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.screen h2 {
  font-size: small;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.container-timer {
  display: block;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.screen .timer-bar {
  width: 90%;
  height: 8px;
  margin-left: 5%;
  border: solid 1px grey;
  background: white;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0px grey;
}

.timer-bar .progress {
  position: absolute;
  background-color: grey;
  width: 0px;
  height: 8px;
  border-radius: 15px;
  animation: progres 120s infinite linear;
}

@keyframes progres {
  100% {
    width: 0%;
  }

  75% {
    width: 25%;
  }

  50% {
    width: 50%;
  }

  25% {
    width: 75%;
  }

  0% {
    width: 90%;
  }
}

.screen .screen-score {
  font-family: "Press Start 2P", cursive;
  font-size: small;
  position: absolute;
  top: 10px;
  right: 10px;
}

/*******************************************/
/************* Answers Buttons *************/

.answers-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-top: 1rem;
}

.answers-container button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  height: 3rem;
  margin: 0.4rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 30px;
  background-color: #c4c4c4;
  box-shadow: inset 4px 5px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.2s;
}

.answers-container button:active {
  transform: scale(0.98);
}

/** correct answer button */
.answers-container .answer-1:focus {
  background-color: #8cb581;
}

/** incorrecte answer button */
.answers-container .answer-3:focus {
  background-color: #c96464;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .answers-container button {
    padding: 0.5rem 1.5rem;
  }
}

@media screen and (min-width: 1200) {
}

/***********************************************/
/*SCORE*/

.score {
  width: 4rem;
  height: 4rem;
  background-color: #f1eaea;
  border-radius: 50%;
  text-align: center;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoreTitle {
  font-size: 10px;
  font-weight: bold;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}

.scoreNumber {
  font-weight: bold;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  margin: 0;
}

.basconsole {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: absolute;
  right: 10vw;
  bottom: 8vh;
  width: 80%;
}

/*******************************************/

/*FOOTER*/
.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  align-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: linear-gradient(0deg, #c4c4c4e9, rgba(255, 255, 255, 0.07));
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.footer .Team {
  margin-left: 10px;
  font-family: "Roboto", cursive;
}
.socialNet img {
  height: 15px;
  width: 15px;
  margin: 0 10px;
  opacity: 40%;
}

/***********************************/
/*RESPONSIVE*/

@media screen and (min-width: 480px) {
  .header {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    border-bottom: solid #c4c4c4 0.2px;
  }


  .console {
    margin-top: 5rem;
    margin-left: 15%;
    margin-right: 15%;
    height: 60vh;
    width: 75%;
    background-size: 100%;
  }

  .game-container {
    width: 80%;
    height: 70%;
  }

  .logo-desktop {
    visibility: visible;
    display: block;
  }

  .logo-mobile {
    visibility: hidden;
  }

  .interro {
    padding-right: 5%;
  }

  .answers-container {
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .answers-container button {
    width: 49%;
    /* height: 100%; */
    max-height: 100%;
    font-size: 0.8rem;
    margin: 0.4rem 0;
    padding: 0.5rem 0.5rem;
  }

  .test {
    left: 10vw;
  }

  .score {
    width: 7rem;
    height: 7rem;
  }
  .scoreTitle {
    font-size: large;
    font-weight: bold;
    font-family: "Press Start 2P", cursive;
    text-align: center;
  }

  .scoreNumber {
    font-weight: bold;
    font-family: "Press Start 2P", cursive;
    text-align: center;
  }

  .basconsole {
    flex-direction: column;
    width: unset;
    height: 45%;
    top: 28%;
    right: 15vw;
  }

  .title {
    text-align: center;
    font-size: 45px;
    width: 90%;
  }

  .footer .Team {
    margin-left: 20px;
  }
  .socialNet img {
    height: 25px;
    width: 25px;
    margin: 0 10px;
    opacity: 40%;
  }

  /***********************/
  /*SCREEN*/

  .screen h2 {
    font-size: medium;
    padding: 0;
  }

.screen .timer-bar {
  height: 5px;
  width: 85%;
  margin-left: 1rem;
  margin-right: 1.5rem;

}

.timer-bar .progress {
  height: 5px;
}

@keyframes progres {
  100% {
    width: 0%;
  }
  75% {
    width: 21%;
  }
  50% {
    width: 42%;
  }
  25% {
    width: 63%;
  }
  0% {
    width: 85%;
  }
}
.screen{
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.screen .screen-score{
  font-size: medium;
  position: relative;
  top: 0;
  right: 2%;
}

.screen .container-timer{
  display: flex;
  justify-content: space-around;
  margin: 1%;
}